<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Chat Room</title>
</head>
<body>
<div id="roomSelection">
    <h1>Enter Chat Room</h1>
    <input type="text" id="roomNumber" placeholder="Enter Room Number" autofocus>
    <button onclick="joinRoom()">Join Room</button>
</div>

<div id="chatRoom" style="display: none;">
    <h1>WebSocket Chat</h1>
    <textarea id="chat" rows="20" cols="50" readonly></textarea><br>
    <input type="text" id="message" size="50">
    <button onclick="sendMessage()">Send</button>
    <button onclick="leaveRoom()">Leave Room</button>
</div>

<script>
    var conn;

    function joinRoom() {
        var roomNumber = document.getElementById('roomNumber').value;
        document.getElementById('roomSelection').style.display = 'none';
        document.getElementById('chatRoom').style.display = 'block';

        // WebSocket connection initialization with room number
        conn = new WebSocket('ws://localhost:9090/ws?room=' + encodeURIComponent(roomNumber));
        conn.onopen = function(e) {
            console.log("Connection established to room " + roomNumber);
        };
        conn.onmessage = function(e) {
            var chat = document.getElementById('chat');
            chat.value += e.data + "\n";
        };
    }

    function sendMessage() {
        var message = document.getElementById('message').value;
        conn.send(JSON.stringify({username: "username", message: message}));
        document.getElementById('message').value = '';
    }

    function leaveRoom() {
        conn.close();
        document.getElementById('chat').value = '';
        document.getElementById('roomSelection').style.display = 'block';
        document.getElementById('chatRoom').style.display = 'none';
    }
</script>
</body>
</html>
